@font-face {
    font-family: 'SDK_JP_Web';
    src: url('fonts/ja-jp.ttf') format('truetype');
  }

body {
margin: 0;
padding: 0;
    font-family: SDK_JP_Web;
	overflow: hidden;
  }

.container{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/ce13c46e-23a6-490e-a9aa-aaff8c8ab8fe.jpg);
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
}

.navbar{
height: 12%;
display: flex;
align-items: center;
}

.logo{
width: 100px;
}

.menu-icon{
width: 30px;
cursor: pointer;
margin-left: 40px;
}

nav{
flex: 1;
text-align: right;
}

nav ul li{
list-style: none;
display: inline-block;
margin-left: 60px;
}

nav ul li a{
text-decoration: none;
color: #fff;
font-size: 13px;
}
nav ul li a:hover{
transition: transform 0.5s;
    filter: drop-shadow(2px 4px 8px #fff);
    animation: normal;
	
}

.row{
display: flex;
height: 88%;
align-items: center;
}

.col{
flex-basis: 50%;

}

h1{
color:#fff;
font-size: 65px;

}

p{
color: #fff;
font-size: 20px;
line-height: 35px;
}

button{
width: 180px;
color: #000;
font-size: 12px;
padding: 12px 0;
background: #fff;
border: 0;
border-radius: 20px;
outline: none;
margin-top: 30px;
cursor: pointer;

}

.card{
width: 150px;
height: 150px;
display: inline-block;
border-radius: 15px;
padding: 0.5px 30px;
box-sizing: border-box;
cursor: pointer;
margin: 40px 70px;
background-position: center;
background-size: 145px;
transition: transform 0.5s;
}

.card1{
background-image: url(images/mondstadt.png);
}

.card2{
background-image: url(images/liyue.png);
}

.card3{
background-image: url(images/Emblem_Inazuma.png);
}

.card:hover{
transform: translateY(-25px);
    filter: drop-shadow(2px 4px 8px #ddbd50);
}

h5{
color: #fff;
text-shadow:  0 0 4px black;
text-align:center;
}

.ticker{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 50px;
    margin: 0 auto;
	position: fixed;
	 bottom: 20px;
	 left: 0;
    right: 0;
}

.info{
    width: 15%;
    text-align: end;
    background: #000;
    position: relative;
}

.title:after{
    position: absolute;
    content: "";
    right: -15%;
    border-left: 5px solid #ddbd50;
}

.title h5{
    font-size: 15px;
    margin: auto 0;
}

.info marquee{
    font-size: 5px ;
}